* {
    margin: 0;
    padding: 0;
}

.header {
    height: 12rem;
    background: linear-gradient(-180deg, #f53d2d, #f63);
}

.header a {
    text-decoration: none;
    color: white;
}

.header a,
.header li {
    display: inline-flex;
    align-items: center;
}

.header a:hover {
    opacity: 0.7;
}

.header li:hover div {
    display: block;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    display: inline-block;
    /* padding: auto; */
    /* justify-content: center;
    align-items: center; */
}

.header__navbar-item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white);
    margin: 0 8px;
    line-height: 32px;
    font-weight: 300;
}

.header__navbar-item--separate {
    position: relative;
}

.header__navbar-item--separate::after {
    content: "";
    width: 1.5px;
    height: 16px;
    background-color: #ea7866;
    position: absolute;
    right: -10px;
    top: 8px;
}

.header__navbar-item i {
    margin: 0px 4px;
    font-size: 1.8rem;
}

.header__user {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__user-name {
    font-weight: 400;
}

.header__user-avatar {
    margin-right: 4px;
}

.header__user-avatar img {
    vertical-align: middle;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.header .download-modal-container {
    position: relative;
}

.header .download-modal {
    position: absolute;
    top: 100%;
    background-color: white;
    /* border: 1px dashed black; */
    width: 18.4rem;
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header .download-modal img {
    max-width: 100%;
}

.header .download-modal .app-markets {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .download-modal .app-markets a {
    width: 40%;
    margin-bottom: 16px;
}

.header .download-modal .app-markets a:hover {
    opacity: 1;
}
